@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root{
    --Montserat: 'Montserrat', sans-serif;
    --white:white;
    --black:black;
}
html{
    scroll-behavior: smooth;
}
*,
::after ,
::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
/* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0%;
    /* Largeur de la scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #888888a9;
    /* Couleur de la poignée de la scrollbar */
}
/* Pour Internet Explorer uniquement */
body {
    font-family: var(--body-familly);
    --scrollbar-base-color: #333;
    /* Couleur de fond de la scrollbar */
    --scrollbar-face-color: #666;
    /* Couleur de la face de la scrollbar */
    --scrollbar-arrow-color: #fff;
    /* Couleur de la flèche de la scrollbar */
    --scrollbar-3dlight-color: #999;
    /* Couleur de la lumière 3D */
    --scrollbar-shadow-color: #555;
    /* Couleur de l'ombre de la scrollbar */
    --scrollbar-highlight-color: #777;
    /* Couleur du surlignage de la scrollbar */
   --scrollbar-darkshadow-color: #444;
    /* Couleur de l'ombre sombre de la scrollbar */
    font-size:16px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--Montserat);
    color:var(--white);
    background-image: url("../img/story.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
}

a{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    transition: all .2s ease-in-out;
}
p{
    font-size: 2em;
    letter-spacing: 1.5px;
    line-height: 40px;
}
.text-small{
    font-size: 1em;
}
.header{
    color: var(--white);
    width: 100%;
    height: 100vh;
    background-image: url("../img/wp10234709-jinx-arcane-wallpapers.jpg");
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}
nav ul{
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

header .container h1{
    font-size: 9em;
    font-weight: 900;
    width: 100%;
}
div{
    overflow-x: hidden;

}
section{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    font-weight: bold;
}

.title{
    display: block;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    text-decoration: double;
    font-size: 11em;
    font-weight: bold;
}
#Title1{
    letter-spacing:3em;
}
#Title2{
    transform: translateY(200px);
    max-width: 100vw;
}
section h3{
    font-size: 5em;
}
section p{
    font-size: 1.5em;
}
.story{
    height: 100vh;
    background-image: url("../img/story1.png");
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    text-align: center;
}
.story p{
    padding: 0% 5%;
}
.protagonist .container{
    padding: 0% ;

}
.people{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
.shadow{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #33333382;
}
#P1{
    background-image: url("../img/powder.jpg");
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    text-align: center;
}
#P2{
    background-image: url("../img/wp10261292-netflix-arcane-hd-wallpapers.jpg");
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#P3{ 
    background-image: url("../img/caitlyn.jpg");
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#P4{
    background-image: url("../img/jayce.jpg");
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#P5{
    background-image: url("../img/siclo.jpg");
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.imgPeople{
    cursor: pointer;
    border-radius: 10%;
    align-self: center;
    width: auto;
    height: 50vh;
    transition: all 0.5s;
}
.imgPeople:hover{
    opacity: 0;
    transform: scale(1);
}

#viImage1{
    object-fit: cover;
}

.descriptionPeople{
    width: 50%;
    line-height: 35px;
}
.Dright{
    text-align: right;
    align-self: flex-end;
    padding-right:150px;
}

.Dleft{
    text-align: left;
    align-self: flex-start;
    padding-left: 150px;
}



.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    height: 100vh;
}
.footer{
    text-align: center;
    z-index: 2;
    height: 100vh;
    background-image: url("../img/arcane-hd-wallpapers.jpg");
    object-fit: cover;
    background-position:0px 5000px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #33333371;
}
.footer .container h2{
    padding-top: 10%;
}